@page "/"
@using Chess.Blazor.Application.Main
@using Chess.Main.GameFactory
@using Chess.Main.GameFactory.Factories
@* @inject ClientSideGame game *@

@code {
    private readonly string[] files = { "A", "B", "C", "D", "E", "F", "G", "H" };
    private readonly string[] ranks = { "8", "7", "6", "5", "4", "3", "2", "1" };
}

<div class="flex flex-col items-center justify-center select-none">
    <div class="flex">
        @for(int i = 0; i < files.Length; i++)
        {
            <div class="w-16 md:w-20 h-6 flex items-center justify-center text-sm">@files[i]</div>
        }
    </div>

    <div class="flex">
        <div class="flex flex-col">
            @for (int rank = 8; rank > 0; rank--)
            {
                <div class="flex">
                    <div class="w-6 h-16 md:h-20 flex items-center justify-center text-sm">@ranks[8 - rank]</div>

                    @for (int file = 1; file <= 8; file++)
                    {
                        bool isDark = (rank + file) % 2 == 1;
                        bool isAvailable = availableMoves.Any(m => m.Rank == rank && (int)m.File == file);

                        <ChessBoardSquare 
                            Game="game"
                            OnPieceClickCallback="OnPieceClick"
                            OnMakeMoveCallback="OnMove"
                            RemoveMoves="RemoveAvailableMoves"
                            IsAvailableMove="@isAvailable"
                            IsDark="@isDark"
                            Piece="@GetPiece(rank, file)"
                            Rank="rank"
                            File="file" />
                    }
                </div>
            }
        </div>
    </div>
    <div class="flex">
        @for (int i = 0; i < files.Length; i++)
        {
            <div class="w-16 md:w-20 h-6 flex items-center justify-center text-sm">@files[i]</div>
        }
    </div>
</div>




@code {
    private ClientSideGame game;
    private List<Coordinate> availableMoves = [];
    private Coordinate? selectedPieceCoordinate = default;

    protected override void OnInitialized()
    {
        game = new("8/8/5b2/8/3R4/2KN2r1/8/");
        game.OnCheck += OnCheck;
        game.OnMate += OnMate;
    }
    public Piece? GetPiece(int rank, int file) 
    {
        if (game.Board.PieceExist(rank, (File)(file), out Piece piece, out Coordinate _))
            return piece;
        return null;
    }

    public void OnPieceClick((Piece piece, int rank, int file) res)
    {
        if (res.piece.Color != game.State.ColorTurn)
            return;
        selectedPieceCoordinate = new Coordinate(res.rank, (File)res.file);
        availableMoves = game.GetAllowedMoves(res.piece, selectedPieceCoordinate);
        StateHasChanged();
    }

    public void OnMove(( int rank, int file) res)
    {
        if (selectedPieceCoordinate is null)
            return;

        var piece = GetPiece(selectedPieceCoordinate.Rank, (int)selectedPieceCoordinate.File)!;
        game.MakeMove(piece, selectedPieceCoordinate!, new Coordinate(res.rank, (File)res.file));
        selectedPieceCoordinate = default;
        availableMoves = [];
        StateHasChanged();

    }

    public void OnCheck()
    {
        Console.WriteLine("Check");
    }

    public void OnMate()
    {
        Console.WriteLine("Mate");

    }

    public void RemoveAvailableMoves()
    {
        availableMoves = [];
        StateHasChanged();
    }
}