@using Chess.Blazor.Application.Main
@code {
    private readonly string[] files = { "A", "B", "C", "D", "E", "F", "G", "H" };
    private readonly string[] ranks = { "8", "7", "6", "5", "4", "3", "2", "1" };
}

<div class="flex">
    @for (int i = 0; i < files.Length; i++)
    {
        <div class="w-16 md:w-20 h-6 flex items-center justify-center text-sm">@files[i]</div>
    }
</div>

<div class="flex">
    <div class=@("flex flex-col " + rotation)>
        @for (int rank = 8; rank > 0; rank--)
        {
            <div class="flex">
                <div class="w-6 h-16 md:h-20 flex items-center justify-center text-sm">@ranks[8 - rank]</div>

                @for (int file = 1; file <= 8; file++)
                {
                    bool isDark = (rank + file) % 2 == 0;
                    bool isAvailable = availableMoves.Any(m => m.Rank == rank && (int)m.File == file);

                    <ChessBoardSquare OnPieceClickCallback="OnPieceClick"
                    OnMakeMoveCallback="OnMove"
                    RemoveMoves="RemoveAvailableMoves"
                    IsAvailableMove="@isAvailable"
                    IsDark="@isDark"
                    Piece="@GetPiece(rank, file)"
                    Rank="rank"
                    File="file"
                    RotateBoard="rotateBoard"
                    InitialColor="initialColor"
                    game="game"/>
                }
            </div>
        }
    </div>

</div>
<div class="flex">
    @for (int i = 0; i < files.Length; i++)
    {
        <div class="w-16 md:w-20 h-6 flex items-center justify-center text-sm">@files[i]</div>
    }
</div>

<div class="flex flex-col gap-1">
    <h2 class="text-3xl font-bold">Board options</h2>
    <div class="flex gap-0.5">
        Rotate board <input @bind="rotateBoard" type="checkbox" />
    </div>
    <div class="flex gap-0.5">
        Initial color
        <InputSelect @bind-Value="initialColor" >
            @foreach (var color in Enum.GetValues(typeof(Color)))
            {
                <option value="@color">@color</option>
            }
        </InputSelect>
    </div>
    @AdditionalOptions
</div>
@code {
    [Parameter] public RenderFragment? AdditionalOptions { get; set; }
    [Parameter] public ClientSideGame game { get; set; } = null!;
    public List<Coordinate> availableMoves = [];
    private Coordinate? selectedPieceCoordinate = default;
    private bool rotateBoard = false;
    private Color initialColor = Color.White;
    // public string? FEN = null;


    public string rotation =>
      !rotateBoard
          ? (initialColor == Color.Black ? "rotate-180" : "")
          : (game.State.ColorTurn == Color.White ? "" : "rotate-180");

    public void RemoveAvailableMoves()
    {
        availableMoves = [];
        StateHasChanged();
    }

    public Piece? GetPiece(int rank, int file)
    {
        if (game.Board.PieceExist(rank, (File)(file), out Piece piece, out Coordinate _))
            return piece;
        return null;
    }

    public void OnPieceClick((Piece piece, int rank, int file) res)
    {
        if (res.piece.Color != game.State.ColorTurn)
            return;
        selectedPieceCoordinate = new Coordinate(res.rank, (File)res.file);
        availableMoves = game.GetAllowedMoves(res.piece, selectedPieceCoordinate);
        StateHasChanged();
    }

    public void OnMove((int rank, int file) res)
    {
        if (selectedPieceCoordinate is null)
            return;

        var piece = GetPiece(selectedPieceCoordinate.Rank, (int)selectedPieceCoordinate.File)!;
        game.MakeMove(piece, selectedPieceCoordinate!, new Coordinate(res.rank, (File)res.file));
        selectedPieceCoordinate = default;
        availableMoves = [];
        StateHasChanged();

    }

    // public void Apply()
    // {
    //     if(string.IsNullOrEmpty(FEN))
    //     {
    //         return;
    //     }
    //     game.Board.SetFen(FEN, null);
    //     StateHasChanged();

    // }

    // public void GetFen()
    // {
    //     FEN = game.Board.GetFen();
    // }



}
