@code {
    [Parameter] public bool IsDark { get; set; }
    [Parameter] public Piece? Piece { get; set; }
    [Parameter] public int Rank { get; set; }
    [Parameter] public int File { get; set; }
    [Parameter] public bool IsAvailableMove { get; set; }
    [Parameter] public EventCallback<(Piece piece, int rank, int file)> OnPieceClickCallback { get; set; }
    [Parameter] public EventCallback<(int rank, int file)> OnMakeMoveCallback { get; set; }

}

<div class="@SquareClasses">
    @if (Piece is not null)
    {
        @if (IsAvailableMove)
        {
            <div @onclick="() => OnMove()" class="@AvailableMoveSquere">
                <img class="size-16 md:size-20" src="@GetFigureImage()" />
            </div>
        }
        else
        {
            <div @onclick="() => OnPieceClick()" class="cursor-pointer">
                <img class="size-16 md:size-20" src="@GetFigureImage()" />
            </div>
        }
    }
    else if(IsAvailableMove)
    {
        <div @onclick="() => OnMove()" class="@AvailableMoveSquere">
            
        </div>
    }
</div>

@code {
    private string SquareClasses =>
        $"w-16 h-16 md:w-20 md:h-20 {(IsDark ? "bg-green-700" : "bg-amber-200")} flex items-center justify-center text-2xl";

    private string AvailableMoveSquere =>
        $"cursor-pointer rounded-full {(Piece is null ? "h-5 w-5 bg-emerald-400/50" : "border-8 border-emerald-400/70")}";

    public string? GetFigureImage() 
    {
        char pieceColor = Piece?.Color == Color.White ? 'w' : 'b';
        return Piece?.Type switch
        {
            PieceType.Queen => $"/figures/queen-{pieceColor}.svg",
            PieceType.King => $"/figures/King-{pieceColor}.svg",
            PieceType.Rook => $"/figures/rook-{pieceColor}.svg",
            PieceType.Knight => $"/figures/knight-{pieceColor}.svg",
            PieceType.Bishop => $"/figures/bishop-{pieceColor}.svg",
            PieceType.Pawn => $"/figures/pawn-{pieceColor}.svg",
            _ => null
        };
    }

    public async Task OnPieceClick()
    {
        await OnPieceClickCallback.InvokeAsync((Piece!, Rank, File));
       
    }

    public async Task OnMove()
    {
        await OnMakeMoveCallback.InvokeAsync((Rank, File));

    }
}
